nserver 1.1.1.1
nserver 1.0.0.1
nserver 8.8.8.8
nscache 65536
auth strong

# هنا تضع اليوزرات (أمثلة)
users Z:CL:X
users a:CL:m

# السماح لليوزرات بالوصول
allow Z
allow a

# تشغيل البروكسي على بورت 8080 (التوافق مع Railway)
# تأكد من وضع الـ IP والبورت الخاص بـ AT&T بشكل صحيح مكان الأرقام أدناه
proxy -n -a -p8080
socks -n -a -p8080

deny *
